@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.ban {
  margin-top: 1rem;
}

.image {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

.background {
  display: flex;
  min-height: 100vh;
}

.screen {
  position: relative;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #2196F3;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #2196F3;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: black;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #2196F3;
}

.app-form-button {
  background: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #2196F3;
  outline: none;
}

.app-form-button:hover {
  color: #2196F3;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }
  .screen-body-item.left {
    margin-bottom: 30px;
  }
  .app-title {
    flex-direction: row;
  }
  .app-title span {
    margin-right: 12px;
  }
  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }
  .screen-body-item {
    padding: 0;
  }
  .bg {
    font-size: small !important;
    height: fit-content !important;
  }
  footer{
  background-color: black;
  color: aliceblue;
  display:grid;
  grid-template-columns: 1fr !important;
}
}

nav {
  box-shadow: none !important;
  /* position: fixed; */
  background-color: transparent !important;
  /* opacity: 0.8; */
}

.bg {
  background-color: white;
  height: 55vh;
  width: 100vw;
  border-radius: 0px 0px 25px 25px;
  border-bottom: 10px solid gray;
  /* box-shadow: 1px 6px 9px 0px gray; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center !important;
  font-family: 'Galada', cursive;
  color: rgba(18, 17, 17, 0.87);
  text-shadow: 2px 3px 4px;
  padding: 1rem 0rem;
  padding-top: 2rem;
}

h1 {
  padding: 0px 3px;
}

.bot {
  font-family: 'Galada', cursive;
  width: fit-content !important;
  /* text-shadow: 2px 3px ; */
  background-color: white !important;
  color: black;
  border: 1px solid black;
}

.bot:hover {
  box-shadow: 1px 6px 9px 0px gray;
  background-color: black !important;
  color: white;
}

main {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Galada', cursive;
  margin: 5rem 0px;
}

article {
  margin: 0px 3rem
}

/* .res{
  height: auto;
  width: 27.5%;
} */

@media screen and (max-width:640px) {
  main {
    flex-direction: column;
  }
  .res {
    flex-direction: column-reverse;
  }
}

.title {
  font-family: 'Galada', cursive;
  color: rgba(18, 17, 17, 0.87);
  text-shadow: 2px 3px 4px;
  text-align: center;
  /* padding: 1rem 0rem; */
  /* padding-top: 2rem; */
}

body {
  background-color: gray;
}

.log {
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Galada', cursive;
}

.cbot {
  font-family: 'Galada', cursive;
  padding: 0rem 7rem;
  background-color: white;
  color: black;
  border-radius: 50px;
  border: 1px solid black;
}

.cbot:hover {
  box-shadow: 1px 6px 9px 0px gray;
  background-color: black !important;
  color: white;
}

footer{
  background-color: black;
  color: aliceblue;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

footer main{
  margin: 0;
}
footer main button{
  margin: 0;
  padding: 0px 10px;
  display: inline;
}
footer main button:hover{
 color: black;
 background-color: white !important;
 border-radius: 50px;
}

.input-field{
  color: white;
  width: 70%;
  padding: 0px 50rem;
}

.social{
  display:flex;
  flex-direction:column;
}
