@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.ban {
  margin-top: 1rem;
}

.image {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}